<template>
  <div class="app-container">
    <el-button icon="el-icon-search" circle @click="showSearchForm()"></el-button>
    <pagination class="pagination" v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="fetchData" />

    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="sn番号" width="80">
        <template slot-scope="scope">
          {{ scope.row.sn }}
        </template>
      </el-table-column>

      <el-table-column label="イベント" width="120">
        <template slot-scope="scope">
          <el-tag :color="scope.row | strToColor" effect="dark" class="event-tag">
          {{ scope.row.evt }}.{{ scope.row.subEvt }}
          </el-tag>
        </template>
      </el-table-column>

      <el-table-column label="プロセス">
        <template slot-scope="scope">
          <span>{{ scope.row.psPath }}</span>
        </template>
      </el-table-column>

      <el-table-column label="親プロセス">
        <template slot-scope="scope">
          {{ scope.row.parentPath }}
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="重要度" align="center" width="110">
        <template slot-scope="scope">
          <el-tag effect="dark" :type="scope.row.lv | logLevelFilter">{{ scope.row.lv | lvToImportance }}</el-tag>
        </template>
      </el-table-column>

      <el-table-column align="center" prop="created_at" label="日時" width="210">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ scope.row.date | formatDate }}</span>
        </template>
      </el-table-column>

      <el-table-column label="操作" align="center" width="100">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="showDetail(scope.row)">
            詳細
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="ログ詳細" :visible.sync="logDialogVisible" destroy-on-close>
      <log-detail :log="logDetail"></log-detail>
    </el-dialog>

    <el-dialog title="検索" :visible.sync="searchDialogVisible">
      <search-form v-on:parentFetchDataWithCond="fetchDataWithCondition"></search-form>
    </el-dialog>
  </div>
</template>

<script>
import { getLog, getNLogElements, searchLog, searchNLogElements } from '@/api/table'
import Pagination from '@/components/Pagination'
import SearchForm from '@/views/table/SearchForm'
import LogDetail from '@/views/table/LogDetail'

import SparkMD5 from 'spark-md5'

export default {
  name: 'LogTable',
  components: {
    Pagination,
    SearchForm,
    LogDetail
  },
  filters: {
    strToColor(row) {
      let hex = SparkMD5.hash(row.evt + row.SubEvt);
      return `#${hex.substr(10,6)}`
    },
    logLevelFilter(lv) {
      if (lv <= 5) {
        return 'success'
      } else {
        return 'danger'
      }
    },
    lvToImportance(lv) {
      if (lv <= 5) {
        return '通常'
      } else {
        return '危険'
      }
    },
    formatDate(date) {
      if (date !== '') {
        const dt = date.split(' +')[0].split(' ')
        const d = dt[0].split('/')
        return `${d[2]}/${d[0]}/${d[1]} ${dt[1]}`
      } else {
        return date
      }
    }
  },
  data() {
    return {
      list: null,
      listLoading: true,
      total: 0,
      listQuery: {
        page: 1,
        limit: 20
      },
      logDialogVisible: false,
      searchDialogVisible: false,
      logDetail: null,
      postQuery: null
    }
  },
  created() {
    if(this.$store.state.dashboardPanelClick === "sig"){
      this.$store.state.dashboardPanelClick = null
      this.postQuery = {"condition": "and", "sig": {"query": "eq", "param": ["None"]}}
    }else if(this.$store.state.dashboardPanelClick === "high"){
      this.$store.state.dashboardPanelClick = null
      this.postQuery = {"condition":"and", "lv": {"query":"gte","param":[6]}}
    }
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.listLoading = true

      const params = {
        start: (this.listQuery.page - 1) * this.listQuery.limit,
        count: this.listQuery.limit
      }

      if (!this.postQuery) {
        getLog(params).then(response => {
          this.list = response
        })

        getNLogElements().then(response => {
          this.total = response.count
          this.listLoading = false
        })
      } else {
        searchLog(this.postQuery, params).then(response => {
          this.list = response
        })

        searchNLogElements(this.postQuery).then(response => {
          this.total = response.count
          this.listLoading = false
        })
      }
    },
    fetchDataWithCondition(postQuery) {
      this.postQuery = postQuery
      this.listQuery.page = 1
      this.fetchData()
    },
    showDetail(data) {
      this.logDialogVisible = true
      this.logDetail = data
    },
    showSearchForm() {
      this.searchDialogVisible = true
    }
  }
}
</script>

<style scoped>
.pagination {
  float: right;
  margin-bottom: 20px;
}

.event-tag {
  border-width: 0px;
  font-weight: bold;
}
</style>
