<template>
  <el-tabs type="border-card" @tab-click="tabClicked">
    <el-tab-pane label="Mk2">
       <el-input
          v-model="msearch"
          size="mini"
          placeholder="Type to search"/>
      <el-table
        :data="logKVList"
        style="width: 100%"
        height="300">
        <el-table-column
          prop="name"
          label="Name">
        </el-table-column>
        <el-table-column
          prop="content"
          label="Content">
        </el-table-column>
      </el-table>
    </el-tab-pane>

    <el-tab-pane label="Cuckoo" v-if="isPsStart()">
       <el-input
          v-model="csearch"
          size="mini"
          placeholder="Type to search"/>
      <el-table
        :data="apiCalls.filter(data => !csearch || data.api.toLowerCase().includes(csearch.toLowerCase()) || data.category.toLowerCase().includes(csearch.toLowerCase()))"
        style="width: 100%"
        v-if="cuckooDone"
        height="300">

        <el-table-column type="expand">
          <template slot-scope="props">
            <p>引数: {{ props.row.arguments }}</p>
            <p>戻り値: {{ props.row.retval }}</p>
          </template>
        </el-table-column>

        <el-table-column
          label="API関数"
          prop="api">
        </el-table-column>

        <el-table-column
          label="カテゴリ"
          prop="category">
        </el-table-column>

        <el-table-column
          label="ステータス"
          prop="status">
        </el-table-column>
      </el-table>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import store from '@/store'
import request from '@/utils/request'

export default {
  props: ['log'],
  data() {
    return {
      apiCalls: [],
      cuckooDone: false,
      csearch: '',
      msearch: '',
    }
  },
  computed: {
    logKVList() {
      var kvlist = [];
      for (var key in this.log) {
        if (!key.toLowerCase().includes(this.msearch.toLowerCase()))
          continue
        kvlist.push({
          name: key,
          content: this.log[key]
        })
      }
      return kvlist
    }
  },
  methods: {
    isPsStart() {
      return this.log["evt"] === "ps" && this.log["subEvt"] === "start" && this.log["psID"]
    },
    tabClicked(targetName) {
      if (targetName.label === "Cuckoo") {
        if (this.apiCalls.length != 0) {
          return;
        }

        var mk2LogName = store.state.analysis.currentLog
        if (mk2LogName.startsWith("log-")) {
          mk2LogName = mk2LogName.split("-")[1]
        }
        var ckLogName = 'cuckoo-' + mk2LogName

        request({
          url: `/cuckoo/${ckLogName}/${this.log["psID"]}`,
          method: 'get'
        }).then(response => {
          if (!response) return;
          for (let i in response.calls) {
            this.apiCalls.push({
              api: response.calls[i].api,
              category: response.calls[i].category,
              status: response.calls[i].status,
              arguments: response.calls[i].arguments,
              retval: response.calls[i].retval
            })
          }
          this.cuckooDone = true
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
