<template>
  <div class="app-container">
    <div class="checkbox">
      <el-checkbox v-model="isOr">OR検索</el-checkbox>
    </div>

    <div>
      <el-input placeholder="項目" v-model="searchItem" style="width: 20%; display: inline-block;">
      </el-input>

      <el-select v-model="selectedCond" placeholder="条件" style="width: 20%; display: inline-block;">
        <el-option
          v-for="cond in condList"
          :key="cond.value"
          :label="cond.label"
          :value="cond.value"
          >
        </el-option>
      </el-select>

      <el-input placeholder="検索文" style="width: 55%;" v-model="searchText">
        <el-button slot="append" icon="el-icon-plus" @click="appendCond()"></el-button>
      </el-input>
    </div>

    <div class="search-tags">
      <el-tag
        :disable-transitions="true"
        v-for="set in searchSets"
        :key="set.id"
        closable
        type="danger"
        effect="dark"
        @close="handleCloseSearchTag(set.id)"
        class="search-tag">
        {{ set.item }}、{{ set.condLabel }}、{{ set.text }}
      </el-tag>
    </div>


    <div class="search-button">
      <el-button type="primary" icon="el-icon-search" @click="doSearch()">検索</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      condList: [
        { label: '一致する', value: 'eq' },
        { label: '一致しない', value: 'ne'},
        { label: 'より小さい', value: 'lt'},
        { label: 'より大きい', value: 'gt'},
        { label: '含む', value: 'has'},
      ],
      selectedCond: null,
      searchItem: null,
      searchText: null,
      searchSets: [],
      nextSearchSetId: 0,
      isOr: false,
    }
  },
  methods: {
    appendCond() {
      this.searchSets.push({
        id: this.nextSearchSetId,
        item: this.searchItem,
        condValue: this.selectedCond,
        condLabel: this.condValueToLabel(this.selectedCond),
        text: this.searchText,
      })
      this.nextSearchSetId += 1
      this.selectedCond = null
      this.searchItem = null
      this.searchText = null
    },
    condValueToLabel(value) {
      for (var i = 0; i < this.condList.length; i++) {
        if (this.condList[i].value == value) {
          return this.condList[i].label
        }
      }
      return ''
    },
    handleCloseSearchTag(id) {
      for (var i = 0; i < this.searchSets.length; i++) {
        if (this.searchSets[i].id === id) {
          this.searchSets.splice(i, 1)
          return
        }
      }
    },
    doSearch() {
      var query;

      if (this.searchSets.length === 0) {
        this.$emit('parentFetchDataWithCond', null)
        return
      }

      if (!this.isOr) {
        query = {"condition": "and"}
      }else{
        query = {"condition": "or"}
      }

      for (var i = 0; i < this.searchSets.length; i++) {
        var set = this.searchSets[i]
        if (query[set.item]) {
          query[set.item]["param"].push(set.text)
        } else {
          query[set.item] = {"query": set.condValue, "param": [set.text]}
        }
      }

      this.$emit('parentFetchDataWithCond', query)
    }
  },
}
</script>

<style scoped>
.search-tags {
  margin-top: 10px;
}

.search-tag {
  margin-right: 10px;
  margin-bottom: 5px;
}

.search-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.checkbox {
  display: flex;
  margin-right: 25px;
  margin-bottom: 10px;
  justify-content: flex-end;
}

</style>
