<template>
  <div class="drawer-container">
    <div>
      <h3 class="drawer-title">スタイル設定</h3>

      <div class="drawer-item">
        <span>ヘッダを固定</span>
        <el-switch v-model="fixedHeader" class="drawer-switch" />
      </div>

      <div class="drawer-item">
        <span>ロゴを表示</span>
        <el-switch v-model="sidebarLogo" class="drawer-switch" />
      </div>

    </div>

    <div>
      <h3 class="drawer-title">解析対象ログ</h3>
      <el-select v-model="selectedLog" placeholder="ログ一覧" @change="logChanged">
        <el-option
          v-for="item in options"
          :key="item"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedLog: this.$store.state.analysis.currentLog
    }
  },
  methods: {
    logChanged(logName) {
      this.$store.dispatch('analysis/changeCurrentLog', logName)
    }
  },
  computed: {
    options: function () {
      return this.$store.state.analysis.logList
    },
    fixedHeader: {
      get() {
        return this.$store.state.settings.fixedHeader
      },
      set(val) {
        this.$store.dispatch('settings/changeSetting', {
          key: 'fixedHeader',
          value: val
        })
      }
    },
    sidebarLogo: {
      get() {
        return this.$store.state.settings.sidebarLogo
      },
      set(val) {
        this.$store.dispatch('settings/changeSetting', {
          key: 'sidebarLogo',
          value: val
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.drawer-container {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;

  .drawer-title {
    margin-bottom: 12px;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 22px;
  }

  .drawer-item {
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    padding: 12px 0;
  }

  .drawer-switch {
    float: right
  }
}
</style>
