<template>
  <el-table
    :data="tableData"
    stripe
    height="300"
    style="width: 100%">

    <el-table-column
      prop="psPath"
      label="プロセス">
    </el-table-column>
    <el-table-column
      prop="dstIP"
      label="接続先IPアドレス"
      width="150">
    </el-table-column>
    <el-table-column
      prop="dstPort"
      label="接続先ポート番号"
      width="150">
    </el-table-column>
    <el-table-column
      prop="recv"
      label="受信バイト数"
      width="150">
    </el-table-column>
    <el-table-column
      prop="send"
      label="送信バイト数"
      width="150">
    </el-table-column>
  </el-table>
</template>

<script>
import { searchLog } from '@/api/table'

export default {
  data() {
    return {
      tableData: []
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      const query = {"condition": "and", "evt": {"query": "eq", "param":["net"]}, "subEvt": {"query": "eq", "param":["dcon"]}}

      searchLog(query).then(response => {
        for (var i in response) {
          this.tableData.push({"psPath": response[i].psPath, "dstIP": response[i].dstIP, "dstPort": response[i].dstPort, "recv": response[i].recv, "send": response[i].send})
        }
      })
    }
  }
}

</script>

<style>
</style>
