<template>
  <div class="dashboard-container">
    <log-panel />

    <el-row :gutter="40">
      <el-col :lg="7" class="panel-col">
        <el-card class="box-card">
          <event-chart />
        </el-card>
      </el-col>
      <el-col :lg="7" class="panel-col">
        <el-card class="box-card">
          <lv6-chart />
        </el-card>
      </el-col>
      <el-col :lg="10" class="panel-col">
        <el-card class="box-card">
          <line-chart :styles="lineChartStyles"/>
        </el-card>
      </el-col>
    </el-row>

    <el-row :gutter="40">
      <el-col :lg="24" class="panel-col">
        <el-card class="box-card">
          <dst-ip-table />
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import LogPanel from '@/views/dashboard/LogPanel'
import EventChart from '@/views/dashboard/EventChart'
import Lv6Chart from '@/views/dashboard/Lv6Chart'
import LineChart from '@/views/dashboard/LineChart'
import DstIpTable from '@/views/dashboard/DstIpTable'

export default {
  components: {
    LogPanel,
    EventChart,
    Lv6Chart,
    LineChart,
    DstIpTable
  },
  computed: {
    lineChartStyles() {
      return {
        height: '295px',
        position: 'relative'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
}

.panel-col {
  margin-top: 20px;
}
</style>
