<template>
 
 <el-row :gutter="40" class="panel-group">
    <el-col :xs="12" :sm="12" :lg="8" class="card-panel-col">
      <div class="card-panel">
        <div class="card-panel-icon-wrapper icon-list">
          <svg-icon icon-class="grabber" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            Total Log
          </div>
          <span class="card-panel-num">{{totalLog}}</span>
        </div>
      </div>
    </el-col>

    <el-col :xs="12" :sm="12" :lg="8" class="card-panel-col">
      <div class="card-panel" v-on:click="redirectToTable('sig')">
        <div class="card-panel-icon-wrapper icon-warning">
          <svg-icon icon-class="issue-opened" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            No Signature
          </div>
          <span class="card-panel-num">{{sigNone}}</span>
        </div>
      </div>
    </el-col>

    <el-col :xs="12" :sm="12" :lg="8" class="card-panel-col">
      <div class="card-panel" v-on:click="redirectToTable('high')">
        <div class="card-panel-icon-wrapper icon-danger">
          <svg-icon icon-class="alert" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            High level
          </div>
          <span class="card-panel-num">{{lv6Log}}</span>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import { getNLogElements , searchNLogElements } from '@/api/table'

export default {
  data() {
    return {
      totalLog: 0,
      lv6Log: 0,
      sigNone: 0
    }
  },
  created() {
    const lv6Query = {"condition":"and", "lv": {"query":"gte","param":[6]}}
    const sigNoneQuery = {"condition":"and", "sig": {"query":"eq", "param": ["None"]}}

    getNLogElements().then(response => {
      this.totalLog = response.count
    })

    searchNLogElements(lv6Query).then(response => {
      this.lv6Log = response.count
    })

    searchNLogElements(sigNoneQuery).then(response =>{
      this.sigNone = response.count
    })
  },
  methods: {
    redirectToTable(object){
      this.$store.state.dashboardPanelClick = object
      this.$router.push("/logtable/index")
    }
  }
}
</script>

<style lang="scss" scoped>
.panel-group {
  margin-top: 18px;
  .card-panel-col {
    margin-bottom: 32px;
  }
  .card-panel {
    height: 108px;
    cursor: normal;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);
    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }
      /*.icon-l {
        background: #40c9c6;
      }*/
      .icon-list {
        background: #36a3f7;
      }
      .icon-danger {
        background: #f4516c;
      }
      .icon-warning {
        background: #ffdb67
      }
    }
    /*
    .icon-warn {
      color: #40c9c6;
    }*/
    .icon-list {
      color: #36a3f7;
    }
    .icon-danger {
      color: #f4516c;
    }
    .icon-warning {
      color: #ffdb67
    }

    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;
      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 12px;
      }
      .card-panel-num {
        font-size: 20px;
      }
    }
  }
}
@media (max-width:550px) {
  .card-panel-description {
    display: none;
  }
  .card-panel-icon-wrapper {
    float: none !important;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    .svg-icon {
      display: block;
      margin: 14px auto !important;
      float: none !important;
    }
  }
}
</style>
