<template>
  <div id="app">
    <router-view v-if="alldone" :key="this.$store.state.analysis.key" />
  </div>
</template>

<script>
import store from '@/store'
import request from '@/utils/request'

export default {
  name: 'App',
  data () {
    return {
      alldone: false,
    }
  },
  created() {
    request({ url: '/mk2', method: 'get' }).then((response) => {
      response['lognames'].forEach(function (logName) {
        store.dispatch('analysis/appendLog', logName)
      })
      if (response['lognames'].length > 0) {
        store.dispatch('analysis/changeCurrentLog', response['lognames'][0])
      }
      this.alldone = true
    })
  }
}
</script>
