<template>
  <div class="app-container">
    <el-input v-model="filterText" placeholder="Filter keyword" style="margin-bottom: 20px;" />
    <el-switch v-model="expandAll" active-text="すべてを展開" style="display: flex; justify-content: flex-end; margin-bottom: 20px;" @change="toggleChanged">
    </el-switch>
    <el-container>
      <el-main>
        <el-tree
          v-loading="listLoading"                                                               
          element-loading-text="Loading"

          ref="tree"
          :data="proctree"
          v-if="getLogDone"
          :indent = "20"
          :props="defaultProps"
          :filter-node-method="filterNode"
          :expand-on-click-node="false"
          class="filter-tree"
          v-on:node-click="stringClick"
          node-key="id"
        />
      </el-main>
      <el-aside>
        <el-card class="box-card">
          <el-table
            :data="currentLog"
            style="width: 100%">
            <el-table-column
              prop="event"
              label="イベント">
            </el-table-column>
            <el-table-column
              prop="value"
              label="値"
              width="150">
            </el-table-column>
          </el-table>
        </el-card>
      </el-aside>
    </el-container>
 
  </div>
</template>

<script>
import {getLog, searchNLogElements} from '@/api/table'

export default {
  data() {
    return {
      expandAll: false,
      currentLog: [
        {
          event: "プロセス",
          value: 0
        },
        {
          event: "ファイル",
          value: 0
        },
        {
          event:"ネットワーク",
          value: 0
        },
        {
          event:"その他",
          value: 0
        },
        {
          event:"psGUID",
          value: ""
        }
      ],
      getLogDone: false,
      listLoading: true,
      filterText: '',
      srclog: [],
      proctree: [],
      defaultProps: {
        children: 'children',
        label: 'label' 
      }
    }
  },
  created() { 
    this.fetchData()
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val)
    }
  },
  methods: {
    toggleChanged(status) {
      for(var i = 0; i < this.$refs.tree.store._getAllNodes().length; i++){
        this.$refs.tree.store._getAllNodes()[i].expanded = status;
      }
    },
    stringClick(){
      var psQuery = {"condition":"and", "evt": {"query": "eq", "param": ["ps"]},"psGUID": {"query":"eq","param":[this.$refs.tree.getCurrentNode().psGUID]}}
      var fileQuery = {"condition":"and", "evt": {"query": "eq", "param": ["file"]},"psGUID": {"query":"eq","param":[this.$refs.tree.getCurrentNode().psGUID]}}
      var netQuery = {"condition":"and", "evt": {"query": "eq", "param": ["net"]},"psGUID": {"query":"eq","param":[this.$refs.tree.getCurrentNode().psGUID]}}
      var query = {"condition":"and", "psGUID": {"query":"eq","param":[this.$refs.tree.getCurrentNode().psGUID]}}
      var count = 0
      this.currentLog[4].value = this.$refs.tree.getCurrentNode().psGUID
      searchNLogElements(psQuery)
      .then(response => {
        this.currentLog[0].value = response.count
        count += response.count
        return searchNLogElements(fileQuery);
      })
      .then(response => {
        this.currentLog[1].value = response.count
        count += response.count
        return searchNLogElements(netQuery);
      })
      .then(response => {
        this.currentLog[2].value = response.count
        count += response.count
        return searchNLogElements(query);
      })
      .then(response => {
        this.currentLog[3].value = response.count - count
      });
    },
    findNodeByGUID(guid, tree){
      for(let node of tree){
        if(guid === node["psGUID"]){
          // found target node
          return  node
        } else if("children" in node) {
          // search children of node
          var retNode = this.findNodeByGUID(guid, node["children"])
          if(retNode != null){
            return retNode
          } 
        }
      } // if target node is not found in tree, back
      return null
    },
    mkProctree(){
      var id = 1
      var revlog = this.srclog.reverse()
      var brothersSet = []
      for(let line of revlog) {
        if("psGUID" in line === false || line["evt"] != "ps" || line["subEvt"] != "start")
          continue
        var node = line
        node["id"] = id++
        node["label"] = node["psPath"]

        for(const [index, bros] of brothersSet.entries()){
          if(bros["prGUID"] === node["psGUID"]){
            node["children"] = bros["nodes"].reverse()
            brothersSet.splice(index, 1)
            break
          }
        }

        if("parentGUID" in node){
          var hasBrother = false
          for(let bros of brothersSet){
            if(bros["prGUID"] === node["parentGUID"]){
              bros["nodes"].push(node)
              hasBrother = true 
            }
          }
          if(hasBrother === false){
            var bros = {
              prGUID: node["parentGUID"],
              nodes: [node]
            }
            brothersSet.push(bros)
          }
        } else
          this.proctree.push(node)
      }
      this.proctree = this.proctree.reverse() 
      
      for(bros of brothersSet.reverse()){
        var prNode = this.findNodeByGUID(bros["prGUID"], this.proctree)
        if(prNode == null){
          // if not found prNode, attach bros["nodes"] to root
          this.proctree = bros["nodes"].reverse().concat(this.proctree)
          continue
        }
        // attach bros["nodes"] to prNode
        if("children" in prNode)
          prNode["children"] = bros["nodes"].reverse().concat(prNode["children"])
        else
          prNode["children"] = (bros["nodes"].reverse())
      }
    },
    fetchData() {
      this.listLoading = true
      getLog().then(response => {
        this.listLoading = false
        this.srclog = response
        this.mkProctree()
        this.getLogDone = true
      })
    },
    filterNode(value, data) {
      if (!value) return true
        return data.label.indexOf(value) !== -1
    }
  }
}
</script>

<style>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  .el-tree-node__label{
    font-size:16px;
  }
  .switch{
    margin-bottom:16px;
  }

</style>

